<div class="contenuAdmin">
    
    {{>admin_navigation}}

    <div class='tableaux'>
        <div class="titreComm">
            <h1 class="text-center">Clients</h1>
        </div>
        <div class="tableau">
            <div class="titre">
                <h3>ID</h3>
                <h3>Nom</h3>
                <h3>Email</h3>
                <h3>Password</h3>
                <h3>Date de création</h3>
                 <h3>Action</h3>
            </div>
            {{#each clients}}
            <div class="contenuTable">
                <p>{{this.id_client}}</p>
                <p>{{this.nom_client}}</p>
                <p>{{this.email}}</p>
                <p>{{this.password}}</p>
                <p>{{this.created_at}}</p>
                <button >supprimer</button>
            </div>
            {{/each}}
        </div>
    </div>
        

    </div>

</div>