{{#if type}}
<div class="contenuAdmin">

    {{>admin_navigation}}
    <div class='tableaux'>
        <div class="titreComm">
            <h1 class="admin-h1">Commandes</h1>
        </div>
        <div class="tableau">
            <div class="titre">
                <h3>Nom du client</h3>
                <h3>Menu</h3>
                <h3>Image</h3>
                <h3>Prix</h3>
                <h3>Quantité</h3>
                <h3>Etat de la commande</h3>
                <h3>Date de la commande</h3>
            </div>
            {{#each commandes}}
            <div class="contenuTable">
                <p>{{this.nom_client}}</p>
                <p>{{this.nom_menu}}</p>
                <p><img src={{this.image_url}} alt="image du plat"></p>
                <p>{{this.prix}}</p>
                <p>{{this.quantite}}</p>
                <p>{{this.etat_commande}}</p>
                <p>{{this.date_commande}}</p>
            </div>
            {{/each}}

        </div>
    </div>

</div>
{{/if}}