<div class='contenu-paiement'>
	<div class='divGauche'>
		<div class='vera'>
			<img src='/images/logoVera2.png' alt='logo veraPasta' />
			{{! <h1>VeraPasta</h1> }}
		</div>
		<div class='cordonnee'>
			<p>Votre email </p>
			<label for='input-email-liv'>
				<address id='email_Client'>{{emailClient}}</address>
				{{! <input type='email' name='email' id='input-email-liv' placeholder='Adresse email' /> }}
			</label>
			<p>Expédier à</p>
			<label>
				{{! <input type='text' name='' id=''  placeholder='Appartement, suite, etc. optionnel' /> }}
				<address id='infos_client'>{{info}}</address>
			</label>
			<p>Instructions Speciales</p>
			<label for='instructions_speciales'>
				<address id='instructions_speciales'>{{instructions_speciales}}</address>
			</label>
			<form action='/paiement' method='post' id='form_paiement' novalidate>
				<h2>Paiement</h2>
				<div class='carte'>
					<div class='entete'>
						<div class='radio'>
							<input type='radio' checked />
							<p>Carte de crédit</p>
						</div>
						<div class='image-cart'>
							<img src='/images/paypal.png' alt='logo Mode de payement' />
							<img src='/images/visa.svg' alt='logo Mode de payement' />
							<img src='/images/mastercard.svg' alt='logo Mode de payement' />
							<p>et plus...</p>
						</div>
					</div>
					<label for='type_carte_credit'>
						<select id='type_carte_credit' name='type_carte_credit'>
							<option>Visa</option>
							<option>Mastercard</option>
							<option>PayPal</option>
						</select>
					</label>
					<label for='numero-carte'>
						<input type='text' name='numero_carte' id='numero-carte' placeholder='numero de la carte' required />
						<p class='erreur' id='erreur_numero_carte'></p>
					</label>
					<label for='nom_carte'>
						<input type='text' name='nom_carte' id='nom_carte' placeholder='nom du/de la titulaire de la carte' required />
						<p class='erreur' id='erreur_nom_carte'></p>
					</label>
					<div class='potat-ville'>
						<div>
							<label for='date_expire'>
								<input type='date' name='date_expire' id='date_expire' placeholder="Date d'expiration" required />
								<p class='erreur hidden' id='erreur_date_expire'></p>
							</label>
						</div>
						<div>
							<label for='input_code_securit'>
								<input type='text' name='input_code_securit' id='input_code_securit' required placeholder='Code de sécurité' />
								<p class='erreur hidden' id='erreur_input_code_securit'></p>
							</label>
						</div>
					</div>
				</div>
				<div class='basform'>
					<a href='/informations/livraison'>
						<div class='retour'>
							<svg
								clip-rule='evenodd'
								fill-rule='evenodd'
								stroke-linejoin='round'
								stroke-miterlimit='2'
								viewBox='0 0 24 24'
								xmlns='http://www.w3.org/2000/svg'
							><path
									d='m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591zm-.289 7.563v-5.446l-3.522 2.719z'
									fill-rule='nonzero'
								></path></svg>
							<p>Rétour</p>
						</div>
					</a>
					<input type='submit' value='Payer maintenant' />
				</div>

			</form>

		</div>
	</div>
	<div class='divDroite'>
		<div class='sticky'>
			{{#each plats}}
				<div class='produitP'>
					<div class='imgDescrip'>
						<div>
							<img src={{this.image_url}} alt='image plat' />
							<p class='quantit'>{{this.quantite}}</p>
							<div class='titreDescrip'>
								<h3>{{this.nom}}</h3>
								<p>{{this.description}}</p>
							</div>
						</div>
						<h3>{{this.prix}}</h3>
					</div>
				</div>
			{{/each}}
		</div>
		<div class='calculT'>
			<div class='sousT'>
				<p>Sous-total</p>
				<h4>{{afficheArgent sommeArticleClient}} $</h4>
			</div>
			<div class='Livraison'>
				<p>Livraison</p>
				<h4>5 $</h4>
			</div>
			<div class='Total'>
				<h4>Total</h4>
				<h3 id='somme_article'>{{sommeArticleClientPlusLivraison}} $</h3>
			</div>
		</div>
	</div>
</div>